<!DOCTYPE html>
<html>
<head>
  <title>How heavy is your Buildpack? | Heroku Buildpack Scale</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= requirejs_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
